<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podatoci</title>
</head>

<body>
    <%-include ('header'); -%>

        <h1>Hello <%=ime;%>
        </h1>

        <!-- Import the string from index.js -->
        <ul>
            <%if(studenti.length> 5){ %>
                <% studenti.forEach(student=>{ %>
                    <li>
                        <%=student.ime;%>
                            <%=student.prezime;%>
                    </li>
                    <% }); %>
                        <%} %>
        </ul>
</body>

</html>